@font-face {
	font-family: "Cascadia Code";
	src: local("assets/CascadiaCode.ttf");
}

:root {
	/* Color Palette */
	--back-color: #081426;
	--back2-color: #040e1d;
	--primary-color: #f17754;
	--secondary-color: #ffbc90;
	--tertiary-color: #ffe4bc;
	background-color: var(--back-color);
}

* {
	color: var(--tertiary-color);
	font-family: "Cascadia Code";
}

body {
	background-color: var(--back-color);
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	flex: 0 80px;
}

footer {
	background-color: var(--back2-color);
	flex: 0 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer p {
	font-size: 30px;
	margin: 15px 15px;
}

main {
	flex: 1 0;
}

input {
	background-color: var(--back-color);
	border-radius: 10px;
	border: 2px solid var(--tertiary-color);
	padding: 3px 5px;
}