@font-face {
	font-family: "Cascadia Code";
	src: local("assets/CascadiaCode.ttf");
}

:root {
	/* Color Palette */
	--back-color: #091f2c;
	--back2-color: #071823;
	--primary-color: #f5b1cc;
	--secondary-color: #93e8d3;
	--tertiary-color: #a288d9;
}

* {
	color: var(--tertiary-color);
	font-family: "Cascadia Code";
}

body {
	background-color: var(--back-color);
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header {
	background-color: var(--back2-color);
	flex: 0 80px;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

header > span.header-left {
	flex: 0.75 0;
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;
}

header > span.header-right {
	flex: 0.25 0;
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-items: center;
}

header span.checked-box {
	flex: 0 50px;
	margin: 15px 15px;
}

header span svg.checked-box {
	width: 50px;
	height: 50px;
}

header > span {
	font-size: 25px;
}

header h1 {
	margin: 0 0;
	margin-right: 0.5em;
}

header p.username {
	margin-right: 15px;
}

footer {
	background-color: var(--back2-color);
	flex: 0 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer p {
	font-size: 30px;
	margin: 15px 15px;
}

main {
	flex: 1 0;
}

input {
	background-color: var(--back-color);
	border-radius: 10px;
	border: 2px solid var(--tertiary-color);
	padding: 0.3vmin 0.5vmin;
}

.github {
	justify-content: center;
	margin: 15px 15px;
}

path {
	fill: var(--primary-color);
}

h1,h2 {
	color: var(--secondary-color);
}

button {
	background-color: var(--back2-color);
	color: var(--tertiary-color);
	border: none;
	border-radius: 1vmin;
	padding: 0.75vmin 0.75vmin;
	animation-name: button_hover;
	animation-duration: 100ms;
	animation-play-state: paused;
}

button:hover {
	/*animation-play-state: running;*/
	background-color: var(--tertiary-color);
	color: var(--back2-color);
}

button:active {
	background-color: var(--secondary-color);
	color: var(--back2-color);
}

svg.checked-box {
	width: 40px;
	height: 40px;
}

svg.unchecked-box {
	width: 40px;
	height: 40px;
}