:root {
	/* Color Palette */
	--back-color: #081426;
	--primary-color: #f17754;
	--secondary-color: #ffbc90;
	--tertiary-color: #ffe4bc;
	background-color: var(--back-color);
}

* {
	color: var(--secondary-color);

}

body {
	background-color: var(--back-color);
}