main.theme-view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.theme-view .theme-container {
	position: relative;
	width: 70vmin;
}

.theme-view label {
	color: var(--secondary-color);
	text-align: left;
}

.theme-view .input {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 2vmin;
	font-size: 3vmin;
}

.theme-view input {
	position: absolute;
	right: 0;
	font-size: 3vmin;
	width: 8ex;
	text-align: right;
}

main.theme-view > .button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40vmin;
}

main.theme-view button {
	font-size: 3vmin;
}