main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.theme-container {
	position: relative;
	width: 70vmin;
}

label {
	color: var(--secondary-color)
}

.input {
	margin: 2vmin;
	font-size: 3vmin;
}

input {
	position: absolute;
	right: 0;
	font-size: 3vmin;
	width: 8ex;
	text-align: right;
}

main > .button-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 40vmin;
}

main button {
	font-size: 3vmin;
}