main {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

main > h1 {
	flex: 0 3vmin;
	font-size: 3vmin;
	text-align: center;
	margin: 1vmin 0;
}

div.table-container {
	flex: 1 0;
	width: 100%;
}

table {
	width: 100%;
}

tr {
	height: 5ex;
}

tr:nth-child(odd) {
	background-color: var(--back2-color);
}

tr:nth-child(1) {
	background-color: var(--back3-color);
	height: 6ex;
}

th {
	font-size: 2em;
	color: var(--primary-color)
}

th:nth-child(1) {
	width: 60%;
}
th:nth-child(2) {
	width: 30%;
}

td {
	font-size: 1.5em;
	text-align: center;
}

td.assignee {
	cursor: pointer;
}

td div {
	cursor: pointer;
}

td svg.checked-box, svg.unchecked-box {
	width: 1.2em;
	height: 1.2em;
	vertical-align: middle;
}

.add-item-container {
	flex: 0 7vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
}

.add-item-container label {
	flex: 0 13vmin;
	margin-left: 15px;
	color: var(--secondary-color);
	font-size: 2vmin;
}

.add-item-container input {
	flex: 1 0;
	height: 60%;
	font-size: 2vmin;
}

.add-item-container button {
	flex: 0 13vmin;
	margin: 0 15px;
	height: 60%;
	font-size: 2vmin;
}

.assignee-box {
	visibility: visible;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30vmin;
	height: 12vmin;
	background-color: var(--back3-color);
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 50%;
	left: 50%;
	margin-left: -15vmin;
}

.assignee-box label {
	color: var(--secondary-color);
	font-size: 2vmin;
	flex: 1 0;
}

.assignee-box input {
	width: 90%;
	flex: 1 0;
	margin: 1vmin;
	font-size: 2vmin;
}

.assignee-box button {
	width: 40%;
	flex: 0.7 0;
	font-size: 2vmin;
	padding: 0.5vmin 0.5vmin;
}