main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

div.login-container {
	flex: 0.2 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 60%;
	font-size: 3vmin;
}

div.login-container h2 {
	font-size: 5vmin;
	margin: 2vmin 0;
	color: var(--secondary-color);
}

div.login-container div.input {
	flex: 0 5vmin;
	width: 100%;
	margin-bottom: 1vmin;
}

div.login-container input {
	height: 70%;
	width: 100%;
	font-size: 2.5vmin;
	box-sizing: border-box;
}

div.login-container label {
	width: 30%;
}

div.login-container button {
	flex: 0 5vmin;
	font-size: 3vmin;
	padding: 0.75vmin 3vmin;
}