main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

main > h1 {
	flex: 0 3vmin;
	font-size: 3vmin;
	text-align: center;
	margin: 1vmin 0;
}

main > table {
	width: 100%;
}

tr {
	height: 5ex;
}

tr:nth-child(odd) {
	background-color: var(--back2-color);
}

tr:nth-child(1) {
	background-color: var(--back3-color);
	height: 6ex;
}

th {
	font-size: 2em;
	color: var(--primary-color)
}

th:nth-child(1) {
	width: 60%;
}

td {
	font-size: 1.5em;
	text-align: center;
	cursor: pointer;
}

main .create-list-container {
	flex: 0 7vmin;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 70%;
	font-size: 2em;
	margin-top: 1vmin;
}

.create-list-container label {
	flex: 0 13vmin;
	margin-left: 15px;
	color: var(--secondary-color);
	font-size: 2.2vmin;
}

.create-list-container input {
	flex: 1 0;
	height: 60%;
	font-size: 2vmin;
}

.create-list-container button {
	flex: 0 13vmin;
	margin: 0 15px;
	height: 60%;
	font-size: 2vmin;
}